.clock__circle {
  position: relative;
  width: 300px;
  height: 300px;
  box-shadow: -6px -6px 16px var(--white-color),
    6px 6px 16px hsla(var(--hue-color), 30%, 86%, 1),
    inset 6px 6px 16px hsla(var(--hue-color), 30%, 86%, 1),
    inset -6px -6px 16px var(--white-color);
  border-radius: 50%;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.clock__content {
  align-self: center;
  row-gap: 3.5rem;
}

.clock__twelve,
.clock__three,
.clock__six,
.clock__nine {
  position: absolute;
  width: 1.5rem;
  height: 1px;
  background-color: var(--text-color-light);
}

.clock__twelve,
.clock__six {
  transform: translateX(-50%) rotate(90deg);
}

.clock__twelve {
  top: 1.25rem;
  left: 50%;
}

.clock__three {
  top: 50%;
  right: 0.75rem;
}

.clock__six {
  bottom: 1.25rem;
  left: 50%;
}

.clock__nine {
  left: 0.75rem;
  top: 50%;
}

.clock__rounder {
  width: 0.75rem;
  height: 0.75rem;
  background-color: var(--first-color);
  border-radius: 50%;
  border: 2px solid var(--body-color);
  z-index: var(--z-tooltip);
}

.clock__hour,
.clock__minutes,
.clock__seconds {
  position: absolute;
  display: flex;
  justify-content: center;
}

.clock__hour {
  width: 105px;
  height: 140px;
}

.clock__hour::before {
  content: "";
  position: absolute;
  background-color: var(--text-color);
  width: 0.25rem;
  height: 5.5rem;
  border-radius: 0.75rem;
  z-index: var(--z-normal);
}

.clock__minutes {
  width: 136px;
  height: 186px;
}

.clock__minutes::before {
  content: "";
  position: absolute;
  background-color: var(--text-color);
  width: 0.25rem;
  height: 6.5rem;
  border-radius: 0.75rem;
  z-index: var(--z-normal);
}

.clock__seconds {
  width: 130px;
  height: 200px;
}

.clock__seconds::before {
  content: "";
  position: absolute;
  background-color: var(--first-color);
  width: 0.125rem;
  height: 7.5rem;
  border-radius: 0.75rem;
  z-index: var(--z-normal);
}
