.clock__circle {
  position: relative;
  width: 260px;
  height: 260px;
  box-shadow: -6px -6px 16px var(--white-color),
    6px 6px 16px hsla(var(--hue-color), 30%, 86%, 1),
    inset 6px 6px 16px hsla(var(--hue-color), 30%, 86%, 1),
    inset -6px -6px 16px var(--white-color);
  border-radius: 50%;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.alarm-icon {
  position: absolute;
  font-size: 45px;
  left: -25px;
  top: -20px;
}

.active {
  animation: alarm 2s infinite alternate;
}

.clock__content {
  align-self: center;
  row-gap: 2rem;
}

.clock__twelve,
.clock__three,
.clock__six,
.clock__nine {
  position: absolute;
  width: 1.5rem;
  height: 1px;
  background-color: var(--first-color);
}

.clock__twelve,
.clock__six {
  transform: translateX(-50%) rotate(90deg);
}

.clock__twelve {
  top: 1.25rem;
  left: 50%;
}

.clock__three {
  top: 50%;
  right: 0.75rem;
}

.clock__six {
  bottom: 1.25rem;
  left: 50%;
}

.clock__nine {
  left: 0.75rem;
  top: 50%;
}

.clock__rounder {
  width: 0.75rem;
  height: 0.75rem;
  background-color: var(--first-color);
  border-radius: 50%;
  border: 2px solid var(--body-color);
  z-index: var(--z-tooltip);
}

.clock__hour,
.clock__minutes,
.clock__seconds {
  position: absolute;
  display: flex;
  justify-content: center;
}

.clock__hour {
  width: 105px;
  height: 140px;
}

.clock__hour::before {
  content: "";
  position: absolute;
  background-color: var(--text-color);
  width: 0.25rem;
  height: 5.5rem;
  border-radius: 0.75rem;
  z-index: var(--z-normal);
}

.clock__minutes {
  width: 136px;
  height: 186px;
}

.clock__minutes::before {
  content: "";
  position: absolute;
  background-color: var(--text-color);
  width: 0.25rem;
  height: 6.5rem;
  border-radius: 0.75rem;
  z-index: var(--z-normal);
}

.clock__seconds {
  width: 130px;
  height: 200px;
}

.clock__seconds::before {
  content: "";
  position: absolute;
  background-color: var(--first-color);
  width: 0.125rem;
  height: 7.5rem;
  border-radius: 0.75rem;
  z-index: var(--z-normal);
}

@keyframes alarm {
  0%,
  100% {
    transform: scale3d(1, 1, 1);
    text-shadow: 0 0 0 transparent;
  }
  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -6deg);
  }
  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.2, 1.2, 1.2) rotate3d(0, 0, 1, 6deg);
    text-shadow: 0 1px 3px rgb(0 0 0 / 30%);
  }
  40%,
  60%,
  80% {
    transform: scale3d(1.2, 1.2, 1.2) rotate3d(0, 0, 1, -6deg);
  }
}
