.option-Container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper-option {
  display: flex;
  align-items: center;
  gap: 10px;
}

.disable {
  pointer-events: none;
}

.wrapper-option select {
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  border: none;
  outline: none;
  background-color: var(--body-color);
  box-shadow: -3px -3px 5px var(--white-color),
    3px 3px 5px hsla(var(--hue-color), 30%, 86%, 1),
    inset 3px 3px 5px hsla(var(--hue-color), 30%, 86%, 1),
    inset -3px -3px 5px var(--white-color);
  cursor: pointer;
}

select::-webkit-scrollbar {
  width: 8px;
}

select::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 8px;
  border-right: 2px solid #ffffff;
}

select option{
  display: block;
  background: var(--first-color);
  color: #fff;
}

.setAlarm-btn {
  width: 320px;
  margin-top: 30px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background-color: var(--first-color);
  cursor: pointer;
}

.play {
  background-color: orange;
  color: #000;
}
